<div class="footer-connecting-journeys">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-3">
        <h3>
          Contact
        </h3>
        <ul class="list-unstyled">
          <li>
            Laura Hogervorst
          </li>
          <li>
            <%= dato.footer.phone_number %>
          </li>
          <li>
            <%= dato.footer.email %>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-lg-3">
        <h3>
          Reizen
        </h3>
        <ul class="list-unstyled">
          <li>
            <%= link_to "Voor jezelf", "/jezelf.html" %>
          </li>
          <li>
            <%= link_to "Voor scholen", "/school.html" %>
          </li>
          <li>
            <%= link_to "Voor (non-profit) organisaties", "/non-profits.html" %>
          </li>
          <li>
            <%= link_to "Voor bedrijven", "/bedrijf.html" %>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-lg-3">
        <h3>
          Social
        </h3>
        <ul class="list-unstyled">
          <li>
            xxx
          </li>
          <li>
            xxx
          </li>
          <li>
            xxx
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-lg-3">
        <h3>
          Voorwaarden
        </h3>
        <ul class="list-unstyled">
          <li>
            <%= dato.footer.voorwaarden %>
          </li>
          <li class="hidden-xs">
            <%= image_tag "Logos.png" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
