<div class="navbar-connecting-journeys-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="navbar-connecting-journeys">
          <% link_to "/index.html" do %>
          <%= image_tag 'logo.png', class: "logo" %>
          <% end %>
          <ul class="list-inline navbar-connecting-journeys-right">
            <li>
              <%= link_to 'Home', "/index.html", class: "navbar-connecting-journeys-link"  %>
            </li>
            <li>
              <div class="dropdown">
                <%= link_to 'Voor wie', "/jezelf.html", class: "navbar-connecting-journeys-link dropdown-toggle", id: "nav-dropdown", "data-toggle": "dropdown", "aria-haspopup": true, "aria-expanded": true  %>
                <ul class="dropdown-menu" aria-labelledby="nav-dropdown">
                  <li>
                    <%= link_to "Jezelf", "/jezelf.html"  %>
                  </li>
                  <li>
                    <%= link_to "Bedrijven", "/bedrijf.html"  %>
                  </li>
                  <li>
                    <%= link_to "Scholen", "/school.html"  %>
                  </li>
                  <li>
                    <%= link_to "Non-profits", "/non-profits.html"  %>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <%= link_to 'Over', "/over.html", class: "navbar-connecting-journeys-link"  %>
            </li>
            <li>
              <%= link_to 'Contact', "/contact.html", class: "navbar-connecting-journeys-link"  %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

