<div class="navbar-connecting-journeys-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="navbar-connecting-journeys">
          <% link_to "index.html" do %>
          <%= image_tag 'logo.png', class: "logo" %>
          <% end %>
          <ul class="list-inline navbar-connecting-journeys-right">
            <li>
              <%= link_to 'Home', "#", class: "navbar-connecting-journeys-link"  %>
            </li>
            <li>
              <%= link_to 'Voor wie', "#", class: "navbar-connecting-journeys-link"  %>
            </li>
            <li>
              <%= link_to 'Over', "#", class: "navbar-connecting-journeys-link"  %>
            </li>
            <li>
              <%= link_to 'Contact', "#", class: "navbar-connecting-journeys-link"  %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

