<div class="main-wrapper">
  <div class="banner-nav" style="background-image:url('<%= image_path 'header.jpg' %>');">
    <div class="banner-content text-center">
      <h2>
        Explore Learn Inspire
      </h2>
      <ul class="list-inline list-unstyled">
        <li>
          <%= link_to "Voor jezelf", "#", class: "banner-nav-item" %>
        </li>
        <span>
          •
        </span>
        <li>
          <%= link_to "Voor je school", "#", class: "banner-nav-item" %>
        </li>
        <span>
          •
        </span>
        <li>
          <%= link_to "Voor je bedrijf", "#", class: "banner-nav-item" %>
        </li>
        <span>
          •
        </span>
        <li>
          <%= link_to "Voor non-profitorganisaties", "#", class: "banner-nav-item" %>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="wrapper-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="inspiration-text text-center">
          <p>
            Leef recht op je doel af.<br>
            Leef een leven vol verwondering.<br>
            Stap uit je comfortabele bubbel.<br>
            <br>
            Spring in een andere cultuur.<br>
            Duik, duik vol vuur de wereld in.<br>
            <br>
            Reis met nieuwsgierigheid.<br>
            Reis met aandacht.<br>
            Reis zó, dat je rijker terugkomt dan je vertrok.<br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-12">
        <div class="simple-card-header">
          <h2>
            Boek een reis die je leven verandert
          </h2>
          <p>
            Wij helpen je met het organiseren van een reis waarop je je geen toerist voelt,
            maar echt onderdeel wordt van een andere wereld.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-4">
        <div class="simple-card">
          <h3>
            Ontdekkingsreizen
          </h3>
          <p>
            Een reisplan op maat. Voor avonturiers die zich in
            het diepe willen storten.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-lg-4">
        <div class="simple-card">
          <h3>
            Ontdekkingsreizen
          </h3>
          <p>
            Een reisplan op maat. Voor avonturiers die zich in
            het diepe willen storten.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-lg-4">
        <div class="simple-card">
          <h3>
            Ontdekkingsreizen
          </h3>
          <p>
            Een reisplan op maat. Voor avonturiers die zich in
            het diepe willen storten.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          <%= link_to "Lees meer over ons doel en onze visie op reizen", "#", class: "button-outline orange"  %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="simple-card-header">
          <h2>
            Connecting Journeys helpt je met het organiseren van een reis
          </h2>
          <p>
            Die je helpt je persoonlijke missie te vinden<br>
            Die je uitdaagt om uit je comfort zone te stappen<br>
            Waarop je je geen toerist voelt, maar onderdeel bent van een andere wereld<br>
            Die duurzaam is: zowel in impact op de samenleving als in de invloed op je leven<br>
            Die speciaal voor jou op maat gemaakt is<br>
            Die je nooit meer vergeet<br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-background-image" style="background-image:url('<%= image_path 'header.jpg' %>');">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-10 col-lg-offset-1">
        <div class="cta-box">
          <h2>
            “In Ethiopië leerde ik mezelf op een nieuwe manier kennen.”
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="wrapper-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="simple-card-header">
          <h2>
            Wat kan ConnectingJourneys voor jouw leven betekenen?
          </h2>
          <p>
            Stuur me vrijblijvend een berichtje en kom erachter.<br>
            Jouw persoonlijke reisondernemer zit voor je klaar!
          </p>
          <div class="avatar" style="background-image:url('http://placehold.it/100/100');"></div>
          <div class="text-center">
          <%= link_to "Laten we het over reizen hebben", "#", class: "button-outline orange"  %>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-12">
        <div class="simple-card-header">
          <h2>
            Ga mee op een van deze reizen
          </h2>
        </div>
      </div>
      <div class="col-xs-12 col-lg-4">
        <div class="simple-card">
          <div class="simple-card-image" style="background-image:url('<%= image_path 'bike.jpg' %>');"></div>
          <h3>
            Mountainbiken in Peru
          </h3>
          <p>
            Ciet qui dolent quibus. Quo id est as dolum qui que
            volorro magnim nia dolupta tiorenes idebitate nonsentem
            fugia vololuptat.
          </p>
          <%= link_to "Vertel me meer!", "#", class: "button-simple"  %>
        </div>
      </div>
      <div class="col-xs-12 col-lg-4">
        <div class="simple-card">
          <div class="simple-card-image" style="background-image:url('<%= image_path 'runner.jpg' %>');"></div>
          <h3>
            Hardlopen in Ethiopië
          </h3>
          <p>
            Ciet qui dolent quibus. Quo id est as dolum qui que
            volorro magnim nia dolupta tiorenes idebitate nonsentem
            fugia vololuptat.
          </p>
          <%= link_to "Vertel me meer!", "#", class: "button-simple"  %>
        </div>
      </div>
      <div class="col-xs-12 col-lg-4">
        <div class="simple-card">
          <div class="simple-card-image" style="background-image:url('<%= image_path 'yoga.jpg' %>');"></div>
          <h3>
            Yoga in Nepal
          </h3>
          <p>
            Ciet qui dolent quibus. Quo id est as dolum qui que
            volorro magnim nia dolupta tiorenes idebitate nonsentem
            fugia vololuptat.
          </p>
          <%= link_to "Vertel me meer!", "#", class: "button-simple"  %>
        </div>
      </div>
    </div>
  </div>
</div>


