---
title: ConnectingJourneys - Contact
---

<div class="main-wrapper">
  <div class="banner-nav" style="background-image:url('<%= dato.contact_page.banner_image.url %>');">
    <div class="banner-content text-center">
      <h2 class="h1-style">
        <%= dato.contact_page.title %>
      </h2>
      <p class="subheader">
        Organiseer een reis
      </p>
      <ul class="list-inline list-unstyled">
        <li>
          <%= link_to "Voor jezelf", "/jezelf.html", class: "banner-nav-item" %>
        </li>
        <span>
          •
        </span>
        <li>
          <%= link_to "Voor je school", "/school.html", class: "banner-nav-item" %>
        </li>
        <span>
          •
        </span>
        <li>
          <%= link_to "Voor je bedrijf", "/bedrijf.html", class: "banner-nav-item" %>
        </li>
        <span>
          •
        </span>
        <li>
          <%= link_to "Voor NGO's", "/non-profits.html", class: "banner-nav-item" %>
        </li>
      </ul>
    </div>
  </div>

  <div class="container marged">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-xs-12">
        <div class="bio-container text-center">
          <div class="avatar" style="background-image:url('<%= dato.contact_page.avatar.url %>');"></div>
          <%= Kramdown::Document.new(dato.contact_page.bio_text).to_html %>
        </div>
      </div>
      <div class="col-lg-5 col-xs-12">
        <div class="contact-form">
          <h2 class="purple">
            Wat kan ik voor je doen?
          </h2>
          <form action="https://formspree.io/info@connectingjourneys.com">
            <div class="form-group">
              <input type="text" class="form-control" name="Naam" placeholder="Naam">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="Bedrijf" placeholder="Bedrijf">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="E-mailadres" placeholder="E-mailadres">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="Telefoonnummer" placeholder="Telefoonnummer">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="Onderwerp" placeholder="Onderwerp">
            </div>
            <div class="form-group">
              <textarea name="Bericht" class="form-control" id="" cols="30" rows="10" placeholder="Bericht"></textarea>
            </div>
            <input type="submit" value="Verstuur" class="button-outline orange">
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
