---
title: Connecting Journeys
---

<div class="banner-full-width" style="background-image:url('<%= dato.home_page.banner_image.url %>');">
	<div class="banner-content">
		<h1>
			<%= dato.home_page.title %>
		</h1>
		<p>
			<%= dato.home_page.tagline %>
		</p>
		<%= link_to dato.home_page.button_text, "/contact.html", class: "button-outline white"  %>
	</div>
</div>

<div class="wrapper-white">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="simple-card-header">
					<h2>
						<%= dato.home_page_section_1.title %>
					</h2>
					<%= Kramdown::Document.new(dato.home_page_section_1.body_text).to_html %>
					<%= link_to dato.home_page_section_1.button_text, "/contact.html", class: "button-outline orange"  %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="wrapper-light-gray">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-lg-12">
				<div class="simple-card-header">
					<h2>
						<%= dato.home_page_section_2.title %>
					</h2>
					<%= Kramdown::Document.new(dato.home_page_section_2.body_text).to_html %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-lg-4">
				<div class="simple-card">
					<h3>
						<%= dato.home_page_section_2.block_1_title %>
					</h3>
					<%= Kramdown::Document.new(dato.home_page_section_2.block_1_description).to_html %>
				</div>
			</div>
			<div class="col-xs-12 col-lg-4">
				<div class="simple-card">
					<h3>
						<%= dato.home_page_section_2.block_2_title %>
					</h3>
					<%= Kramdown::Document.new(dato.home_page_section_2.block_2_description).to_html %>
				</div>
			</div>
			<div class="col-xs-12 col-lg-4">
				<div class="simple-card">
					<h3>
						<%= dato.home_page_section_2.block_3_title %>
					</h3>
					<%= Kramdown::Document.new(dato.home_page_section_2.block_3_description).to_html %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="text-center">
					<%= link_to dato.home_page_section_2.button_text, "/contact.html", class: "button-outline orange"  %>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="wrapper-purple">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-lg-8 col-lg-offset-2">
				<div class="quote-box">
					<h3>
						<%= dato.home_page_section_3.quote_text %>
					</h3>
					<p>
						<%= dato.home_page_section_3.name %>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="wrapper-white">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-lg-12">
				<div class="simple-card-header">
					<h2>
						<%= dato.home_page_section_4.title %>
					</h2>
					<p>
						<%= Kramdown::Document.new(dato.home_page_section_4.body_text).to_html %>
					</p>
				</div>
			</div>
			<div class="col-xs-12 col-lg-4">
				<div class="simple-card">
					<h3>
						<%= dato.home_page_section_4.block_1_title %>
					</h3>
					<%= Kramdown::Document.new(dato.home_page_section_4.block_1_description).to_html %>
					<%= link_to "Vertel me meer!", "/school.html", class: "button-simple"  %>
				</div>
			</div>
			<div class="col-xs-12 col-lg-4">
				<div class="simple-card">
					<h3>
						<%= dato.home_page_section_4.block_2_title %>
					</h3>
					<%= Kramdown::Document.new(dato.home_page_section_4.block_2_description).to_html %>
					<%= link_to "Vertel me meer!", "/bedrijf.html", class: "button-simple"  %>
				</div>
			</div>
			<div class="col-xs-12 col-lg-4">
				<div class="simple-card">
					<h3>
						<%= dato.home_page_section_4.block_3_title %>
					</h3>
					<%= Kramdown::Document.new(dato.home_page_section_4.block_3_description).to_html %>
					<%= link_to "Vertel me meer!", "/non-profits.html", class: "button-simple"  %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="wrapper-background-image" style="background-image:url('<%= dato.home_page_section_5.banner_image.url %>');">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-lg-10 col-lg-offset-1">
				<div class="cta-box">
					<h2>
						<%= dato.home_page_section_5.banner_text %>
					</h2>
					<%= link_to dato.home_page_section_5.button_text, "#", class: "button-outline white"  %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="wrapper-light-gray">
	<p class="text-center purple small-header">
		Testimonials <br>
		<i class="fas fa-quote-left"></i>
	</p>
	<!-- Set up your HTML -->
	<div class="owl-carousel owl-theme">
		<% dato.testimonials.each do |testimonial| %>
		<div class="carousel-image text-center">
			<%= Kramdown::Document.new(testimonial.quote_text).to_html %>
			<p class="author purple">
				<%= testimonial.full_name_and_company %>
			</p>
			<div class="avatar" style="background-image:url('<%= testimonial.avatar.url %>');"></div>
		</div>
		<% end %>
	</div>
	<div class="owl-custom-nav">
		<div class="owl-previous-custom owl-nav-chevron"><i class="fas fa-chevron-left"></i></div>
		<div class="owl-next-custom owl-nav-chevron"><i class="fas fa-chevron-right"></i></div>
	</div>
</div>

<div class="wrapper-white">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-lg-12">
				<div class="simple-card-header">
					<h2>
						Ga mee op een van deze reizen
					</h2>
				</div>
			</div>
			<% dato.trips.first(3).each do |trip| %>
			<div class="col-xs-12 col-lg-4">
				<div class="simple-card">
					<div class="simple-card-image" style="background-image:url('<%= trip.photos.first.url %>');"></div>
					<h3>
						<%= trip.title %>
					</h3>
					<p>
						<%= Kramdown::Document.new(truncate(trip.description, length: 100)).to_html %>
					</p>
					<%= link_to "Vertel me meer!", "/reizen/#{trip.slug}.html", class: "button-simple"  %>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>

<% content_for :after_js do %>
<script>
	document.addEventListener("DOMContentLoaded", function(event) {
		console.log("DOM fully loaded and parsed");
		activateCarousel()
	});
</script>
<% end %>
