---
title: Connecting Journeys
---

<div class="banner-full-width" style="background-image:url('<%= image_path 'header.jpg' %>');">
  <div class="banner-content">
    <h1>
      Reizen met betekenis
    </h1>
    <p>
      Reizen die uitdagen, inspireren en verbinden. <br>
      Op maat gemaakt, speciaal voor jou of je organisatie.
    </p>
    <%= link_to "Boek nu jouw unieke reis", "#", class: "button-outline white"  %>
  </div>
</div>

<div class="wrapper-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-12">
        <div class="simple-card-header">
          <h2>
            Boek een reis die je leven verandert
          </h2>
          <p>
            Wij helpen je met het organiseren van een reis waarop je je geen toerist voelt,
            maar echt onderdeel wordt van een andere wereld.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-lg-4">
        <div class="simple-card">
          <h3>
            Ontdekkingsreizen
          </h3>
          <p>
            Een reisplan op maat. Voor avonturiers die zich in
            het diepe willen storten.
          </p>
          <%= link_to "Vertel me meer", "#", class: "button-simple green"  %>
        </div>
      </div>
      <div class="col-xs-12 col-lg-4">
        <div class="simple-card">
          <h3>
            Ontdekkingsreizen
          </h3>
          <p>
            Een reisplan op maat. Voor avonturiers die zich in
            het diepe willen storten.
          </p>
          <%= link_to "Vertel me meer", "#", class: "button-simple green"  %>
        </div>
      </div>
      <div class="col-xs-12 col-lg-4">
        <div class="simple-card">
          <h3>
            Ontdekkingsreizen
          </h3>
          <p>
            Een reisplan op maat. Voor avonturiers die zich in
            het diepe willen storten.
          </p>
          <%= link_to "Vertel me meer", "#", class: "button-simple green"  %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-purple">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <div class="quote-box">
          <h3>
            "Mijn reis met ConnectingJourneys heeft mijn leven veranderd.
            Ik ben meer gefocust, voel me vrijer en weet wat ik wil met mijn leven!""
          </h3>
          <p>
            Laurens Kraaijenbrink
          </p>
          <div class="avatar" style="background-image:url('http://placehold.it/100/100');"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-12">
        <div class="simple-card-header">
          <h2>
            Wat kunnen we doen voor je organisatie?
          </h2>
          <p>
            Niet alleen als individu, maar ook als organisatie kan je wijsheid vinden in reizen.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-lg-4">
        <div class="simple-card">
          <h3>
            Voor scholen
          </h3>
          <p>
            Educatieve reizen die net wat meer zijn
            dan de standaard excursie.
          </p>
          <%= link_to "Vertel me meer", "#", class: "button-simple green"  %>
        </div>
      </div>
      <div class="col-xs-12 col-lg-4">
        <div class="simple-card">
          <h3>
            Voor NGO’s
          </h3>
          <p>
            Hoe verbind je mensen aan jouw missie?
          </p>
          <%= link_to "Vertel me meer", "#", class: "button-simple green"  %>
        </div>
      </div>
      <div class="col-xs-12 col-lg-4">
        <div class="simple-card">
          <h3>
            Voor bedrijven
          </h3>
          <p>
            Maatschappelijk bewust en verantwoord
            ondernemen is meer dan een groen labeltje.
          </p>
          <%= link_to "Vertel me meer", "#", class: "button-simple green"  %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-green">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-10 col-lg-offset-1">
        <div class="cta-box">
          <h2>
            Ontdek wat een reis voor jouw organisatie kan betekenen
          </h2>
          <%= link_to "Neem nu contact op", "#", class: "button-outline white"  %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-10 col-lg-offset-1">
        <div class="text-box">
        <h2 class="green text-center header-bolder">
          Pak de regie over je leven
        </h2>
        <p class="text-center">
          Wie reist, leert nieuwe werelden kennen. Andere manieren van leven. Het is makkelijk om je leven te laten
          leiden door je omstandigheden. Maar als je ontdekt dat het anders kan, vind je de kracht om je leven te
          veranderen. Om de dingen zo in te richten als jij dat wil. Om autonoom en zelfverzekerd in het leven te staan.
        </p>
        <p class="text-center">Reizen verbindt je met de wereld. <%= link_to "Lees meer over onze visie op reizen", "#" %></p>
      </div>
    </div>
    </div>
  </div>
</div>

<div class="wrapper-light-gray">
  <p class="text-center purple small-header">
    Testimonials <br>
    <i class="fas fa-quote-left"></i>
  </p>
  <!-- Set up your HTML -->
  <div class="owl-carousel owl-theme">
    <% ['a', 'b', 'c', 'd', 'e'].each do |item| %>
    <div class="carousel-image text-center">
      <p class="quote">
        At ex es este solut quos dolupti nctempos dolora core nobit pa doloratus, sitatem. Nequati omniet veliatemped
        quatis et ut ma qui velicim dis sendam ute dellandignam explici derion rest landus dolum ni offic tem
        etur aut ipsaerum ipsuscid que nem ipicaboria voluptaturem abo. Cea doluptatum ut estota aut quis quia
      </p>
      <p class="author purple">
        Suzanne Beaumont - BeauCreative (<%= item %>)
      </p>
      <div class="avatar" style="background-image:url('http://placehold.it/100/100');"></div>
    </div>
    <% end %>
  </div>
  <div class="owl-custom-nav">
    <div class="owl-previous-custom owl-nav-chevron"><i class="fas fa-chevron-left"></i></div>
    <div class="owl-next-custom owl-nav-chevron"><i class="fas fa-chevron-right"></i></div>
  </div>
</div>

<div class="wrapper-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-12">
        <div class="simple-card-header">
          <h2>
            Ga mee op een van deze reizen
          </h2>
        </div>
      </div>
      <div class="col-xs-12 col-lg-4">
        <div class="simple-card">
          <div class="simple-card-image" style="background-image:url('<%= image_path 'bike.jpg' %>');"></div>
          <h3>
            Mountainbiken in Peru
          </h3>
          <p>
            Ciet qui dolent quibus. Quo id est as dolum qui que
            volorro magnim nia dolupta tiorenes idebitate nonsentem
            fugia vololuptat.
          </p>
          <%= link_to "Boek nu!", "#", class: "button-simple green"  %>
        </div>
      </div>
      <div class="col-xs-12 col-lg-4">
        <div class="simple-card">
          <div class="simple-card-image" style="background-image:url('<%= image_path 'runner.jpg' %>');"></div>
          <h3>
            Hardlopen in Ethiopië
          </h3>
          <p>
            Ciet qui dolent quibus. Quo id est as dolum qui que
            volorro magnim nia dolupta tiorenes idebitate nonsentem
            fugia vololuptat.
          </p>
          <%= link_to "Boek nu!", "#", class: "button-simple green"  %>
        </div>
      </div>
      <div class="col-xs-12 col-lg-4">
        <div class="simple-card">
          <div class="simple-card-image" style="background-image:url('<%= image_path 'yoga.jpg' %>');"></div>
          <h3>
            Yoga in Nepal
          </h3>
          <p>
            Ciet qui dolent quibus. Quo id est as dolum qui que
            volorro magnim nia dolupta tiorenes idebitate nonsentem
            fugia vololuptat.
          </p>
          <%= link_to "Boek nu!", "#", class: "button-simple green"  %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :after_js do %>
<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    console.log("DOM fully loaded and parsed");
    activateCarousel()
  });
</script>
<% end %>
