<div class="main-wrapper">
  <div class="banner-nav" style="background-image:url('<%= image_path 'header.jpg' %>');">
    <div class="banner-content text-center">
      <h2>
        Explore Learn Inspire
      </h2>
      <ul class="list-inline list-unstyled">
        <li>
          <%= link_to "Voor jezelf", "#", class: "banner-nav-item" %>
        </li>
        <span>
          •
        </span>
        <li>
          <%= link_to "Voor je school", "#", class: "banner-nav-item" %>
        </li>
        <span>
          •
        </span>
        <li>
          <%= link_to "Voor je bedrijf", "#", class: "banner-nav-item" %>
        </li>
        <span>
          •
        </span>  
        <li>
          <%= link_to "Voor non-profitorganisaties", "#", class: "banner-nav-item" %>
        </li>
      </ul>
    </div>
  </div>

  <div class="container marged">
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="page-high-avatar" style="background-image:url('<%= image_path 'laura.jpg' %>');"></div>
      </div>
    </div>
  </div>

</div>