<div class="main-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <div class="over-content">
          <section class="introduction">
            <div class="content-wrapper">
              <div class="content">
                <div class="title-avatar" style="background-image:url('<%= image_path 'laura.jpg' %>');">
                </div>
                <div class="name-and-title">
                  <h2>
                    <%= dato.about_page.name %>
                  </h2>
                  <h3>
                    <%= dato.about_page.job_title %>
                  </h3>
                </div>
              </div>
              <%= link_to dato.about_page.button_text, "contact.html", class: "button-outline purple"  %>
            </div>
          </section>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="main-text">
          <%= Kramdown::Document.new(dato.about_page.first_text_block).to_html %>
        </div>
      </div>
    </div>
    <div class="row marged-more">
      <div class="col-xs-12 col-lg-6">
        <section class="text-segment">
          <%= Kramdown::Document.new(dato.about_page.second_text_block).to_html %>
        </section>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="side-image fourhundred-high" style="background-image:url('<%= dato.about_page.first_side_image.url %>');">
        </div>
      </div>
    </div>
    <div class="row marged-more">
      <div class="col-xs-12 col-lg-6">
        <div class="side-image fourhundred-high" style="background-image:url('<%= image_path dato.about_page.second_side_image.url %>');">
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <section class="text-segment">
          <%= Kramdown::Document.new(dato.about_page.third_text_block).to_html %>
        </section>
      </div>
    </div>
  </div>
  <div class="wrapper-background-image" style="background-image:url('<%= image_path 'yoga.jpg' %>');">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
          <div class="cta-box">
            <h2>
              <%= dato.about_page.contact_banner_text %>
            </h2>
            <%= link_to "Neem nu contact op", "#", class: "button-outline white"  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
