<div class="main-wrapper">
  <div class="banner-nav" style="background-image:url('<%= dato.about_page.banner_image.url %>');">
    <div class="banner-content text-center">
      <h2 class="h1-style">
        <%= dato.about_page.banner_header %>
      </h2>
    </div>
  </div>
</div>

<div class="wrapper-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="two-columns-text-left bio-container">
          <div class="avatar-container">
            <%= image_tag dato.about_page.avatar.url, class: "avatar-big" %>
          </div>
          <%= Kramdown::Document.new(dato.about_page.first_text_block).to_html %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-light-gray">
  <p class="text-center purple small-header">
    Testimonials <br>
    <i class="fas fa-quote-left"></i>
  </p>
  <div class="owl-carousel owl-theme">
    <% dato.testimonials.each do |testimonial| %>
    <div class="carousel-image text-center">
      <%= Kramdown::Document.new(testimonial.quote_text).to_html %>
      <p class="author purple">
        <%= testimonial.full_name_and_company %>
      </p>
      <div class="avatar" style="background-image:url('<%= testimonial.avatar.url %>');"></div>
    </div>
    <% end %>
  </div>
  <div class="owl-custom-nav">
    <div class="owl-previous-custom owl-nav-chevron"><i class="fas fa-chevron-left"></i></div>
    <div class="owl-next-custom owl-nav-chevron"><i class="fas fa-chevron-right"></i></div>
  </div>
</div>

<div class="wrapper-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="purple-header">
        <%= Kramdown::Document.new(dato.about_page.second_text_block).to_html %>
        </div>
        <%= link_to "Maak nu een afspraak voor een gesprek!", "/contact.html", class: "button-outline orange"  %>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="purple-header">
        <%= Kramdown::Document.new(dato.about_page.third_text_block).to_html %>
        </div>
      </div>
    </div>
  </div>
</div>




<% content_for :after_js do %>
<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    console.log("DOM fully loaded and parsed");
    activateCarousel()
  });
</script>
<% end %>
