<div class="main-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <div class="over-content">
          <section class="introduction">
            <div class="content-wrapper">
              <div class="content">
                <div class="title-avatar" style="background-image:url('<%= image_path 'laura.jpg' %>');">
                </div>
                <div class="name-and-title">
                  <h2>
                    Laura Hogervorst
                  </h2>
                  <h3>
                    Founder ConnectingJourneys
                  </h3>
                </div>
              </div>
              <%= link_to "Maak nu een afspraak voor een gesprek", "contact.html", class: "button-outline purple"  %>
            </div>
          </section>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="main-text">
          <%= partial "temp_content/over_text" %>
        </div>
      </div>
    </div>
    <div class="row marged-more">
      <div class="col-xs-12 col-lg-6">
        <section class="text-segment">
          <h3>
            Persoonlijk en betekenisvol.
          </h3>
          <p>
            De mooiste momenten op reis zijn die momenten waarop je ineens kippenvel op je arm krijgt. Waarop je ineens verwikkeld raakt in een diepgaand gesprek met iemand uit een totaal andere cultuur en voelt wat we met elkaar gemeen hebben. Waarop je oog in oog komt te staan met die waterval en realiseert dat je geluk misschien wel komt uit heel andere dingen dan je verwacht had. 
          </p>
          <p>
            Die momenten dat je even uit je gedachtenpatronen wordt geschud en beseft wat écht belangrijk is: blij zijn met jezelf, genieten van het moment, open staan voor de wereld van anderen en in vrijheid keuzes maken.
          </p>
        </section>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="side-image fourhundred-high" style="background-image:url('<%= image_path 'header.jpg' %>');">
        </div>
      </div>
    </div>
    <div class="row marged-more">
      <div class="col-xs-12 col-lg-6">
        <div class="side-image fourhundred-high" style="background-image:url('<%= image_path 'runner.jpg' %>');">
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <section class="text-segment">
          <h3>
            Verbinden dus?
          </h3>
          <p>
            Ja: volgens mij worden mensen <strong>daadkrachtiger</strong> en <strong>autonomer</strong> en kunnen ze veel <strong>meer impact</strong> maken <strong>als ze meer verbonden zijn</strong> met de wereld om hen heen. 
          </p>
          <p>
            Als je het gevoel hebt dat wat jij doet verschil uitmaakt. <br>
            Als je ontdekt dat we meer gemeen hebben dan je dacht. <br>
            Als je voelt dat we samen verantwoordelijk zijn voor onze toekomst. <br>
          </p>
          <p>
            Ik geloof dat we duurzaam verschil kunnen maken als we meer van zulke verbindingen kunnen maken. Tussen mensen en hun ervaringen. Tussen verschillende culturen. Tussen organisaties in de wereld. En onderling.
          </p>
          <p>
            Daarom organiseer ik reizen die mensen meer in verbinding brengen met de wereld en hen <strong>inspireren om het beste uit zichzelf te halen.</strong> Zowel voor jou persoonlijk als voor (non-profit)organisaties, scholen of bedrijven. 
          </p>
          <p>
            Ik kan je helpen met het organiseren van een reis waar je van terugkomt met een nieuw perspectief. Of je nou voor jezelf een reis wil maken, of je bedrijf, school of organisatie naar een hoger plan wil trekken. 
          </p>
        </section>
      </div>
    </div>
  </div>
  <div class="wrapper-background-image" style="background-image:url('<%= image_path 'yoga.jpg' %>');">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
          <div class="cta-box">
            <h2>
              Ontdek wat een reis voor jou kan betekenen
            </h2>
            <%= link_to "Neem nu contact op", "#", class: "button-outline white"  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
