---
title: ConnectingJourneys - Reizen
---

<div class="banner-full-width" style="background-image:url('<%= dato.home_page.banner_image.url %>');">
  <div class="banner-content">
    <h1>
      <%= dato.home_page.title %>
    </h1>
    <p>
      <%= dato.home_page.tagline %>
    </p>
    <%= link_to dato.home_page.button_text, "/contact.html", class: "button-outline white"  %>
  </div>
</div>

<div class="wrapper-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-12">
        <div class="simple-card-header simple-card-header-spacing">
          <h2>
            Ga mee op één van deze reizen
          </h2>
        </div>
      </div>
      <% dato.trips.each do |trip| %>
      <div class="col-xs-12 col-lg-4">
        <div class="simple-card no-p-space">
          <div class="simple-card-image" style="background-image:url('<%= trip.photos.first.url %>');"></div>
          <h3>
            <%= trip.title %>
          </h3>
            <%= Kramdown::Document.new(truncate(trip.description, length: 100)).to_html %>
          <%= link_to "Vertel me meer!", "/reizen/#{trip.slug}.html", target: "_blank", class: "button-simple"  %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>