---
title: ConnectingJourneys - Reizen
---

  <div class="banner-nav" style="background-image:linear-gradient(-180deg, rgba(1,1,1,0.2) 0%, rgba(1,1,1,0.2) 50%),url('<%= dato.reizen_page.banner_image.url %>');">
    <div class="banner-content text-center">
      <h2 class="h1-style">
        <%= dato.reizen_page.title %>
      </h2>
      <p class="subheader">
        Organiseer een reis
      </p>
      <ul class="list-inline list-unstyled">
        <li>
          <%= link_to "Voor jezelf", "/jezelf.html", class: "banner-nav-item" %>
        </li>
        <span>
          •
        </span>
        <li>
          <%= link_to "Voor je school", "/school.html", class: "banner-nav-item" %>
        </li>
        <span>
          •
        </span>
        <li>
          <%= link_to "Voor je bedrijf", "/bedrijf.html", class: "banner-nav-item #{'active' if current_page.path.include?("bedrijf")}" %>
        </li>
        <span>
          •
        </span>
        <li>
          <%= link_to "Voor NGO's", "/non-profits.html", class: "banner-nav-item" %>
        </li>
      </ul>
    </div>
  </div>

<div class="wrapper-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-12">
        <div class="simple-card-header simple-card-header-spacing">
          <h2>
            Ga mee op één van deze reizen
          </h2>
        </div>
      </div>
      <% dato.trips.select {|trip| trip.visible }.each do |trip| %>
      <div class="col-xs-12 col-lg-4">
        <div class="simple-card no-p-space">
          <div class="simple-card-image" style="background-image:url('<%= trip.photos.first.url %>');"></div>
          <h3>
            <%= trip.title %>
          </h3>
          <div class="simple-card-content">
            <%= Kramdown::Document.new(trip.description).to_html %>
          </div>
          <%= link_to "Vertel me meer!", "/reizen/#{trip.slug}.html", class: "button-simple"  %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>