---
title: ConnectingJourneys - Voor scholen
---

<div class="main-wrapper">
  <div class="banner-nav" style="background-image:linear-gradient(-180deg, rgba(1,1,1,0.2) 0%, rgba(1,1,1,0.2) 50%),url('<%= dato.jezelf_page.banner_image.url %>');">
    <div class="banner-content text-center">
      <h2 class="h1-style">
        <%= dato.scholen_page.title %>
      </h2>
      <p class="subheader">
        Organiseer een reis
      </p>
      <ul class="list-inline list-unstyled">
        <li>
          <%= link_to "Voor jezelf", "/jezelf.html", class: "banner-nav-item" %>
        </li>
        <span>
          •
        </span>
        <li>
          <%= link_to "Voor je school", "/school.html", class: "banner-nav-item #{'active' if current_page.path.include?("school")}" %>
        </li>
        <span>
          •
        </span>
        <li>
          <%= link_to "Voor je bedrijf", "/bedrijf.html", class: "banner-nav-item" %>
        </li>
        <span>
          •
        </span>
        <li>
          <%= link_to "Voor NGO's", "/non-profits.html", class: "banner-nav-item" %>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="wrapper-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="inspiration-text text-center purple">
          <%= Kramdown::Document.new(dato.scholen_page.main_text).to_html %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-12">
        <div class="simple-card-header">
          <h2>
            <%= dato.scholen_page.section_2_title %>
          </h2>
          <%= Kramdown::Document.new(dato.scholen_page.section_2_body_text).to_html %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-4">
        <div class="simple-card">
          <h3>
            <%= dato.scholen_page.section_2_block_1_title %>
          </h3>
          <%= Kramdown::Document.new(dato.scholen_page.section_2_block_1_description).to_html %>
        </div>
      </div>
      <div class="col-xs-12 col-lg-4">
        <div class="simple-card">
          <h3>
            <%= dato.scholen_page.section_2_block_2_title %>
          </h3>
          <%= Kramdown::Document.new(dato.scholen_page.section_2_block_2_description).to_html %>
        </div>
      </div>
      <div class="col-xs-12 col-lg-4">
        <div class="simple-card">
          <h3 class="margin-bottom-header">
            <%= dato.scholen_page.section_2_block_3_title %>
          </h3>
          <%= Kramdown::Document.new(dato.scholen_page.section_2_block_3_description).to_html %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          <%= link_to dato.scholen_page.section_2_button_text, "/contact.html", class: "button-outline orange"  %>
        </div>
      </div>
    </div>
  </div>
</div>

<% if dato.scholen_page.section_3_title != "" %>

<div class="wrapper-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="simple-card-header">
          <h2>
            <%= dato.scholen_page.section_3_title %>
          </h2>
          <%= Kramdown::Document.new(dato.scholen_page.section_3_body_text).to_html %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<div class="wrapper-background-image" style="background-image:linear-gradient(-180deg, rgba(1,1,1,0.2) 0%, rgba(1,1,1,0.2) 50%),url('<%= dato.scholen_page.section_4_banner_image.url %>');">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-10 col-lg-offset-1">
        <div class="cta-box">
          <h2>
            <%= dato.scholen_page.section_4_banner_text %>
          </h2>
          <p>
            <%= dato.scholen_page.section_4_name %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="wrapper-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="simple-card-header">
          <h2>
            <%= dato.scholen_page.section_4_title %>
          </h2>
          <%= Kramdown::Document.new(dato.scholen_page.section_4_body_text).to_html %>
          <div class="avatar" style="background-image:url('<%= dato.scholen_page.section_4_avatar.url %>');"></div>
          <div class="text-center">
            <%= link_to dato.scholen_page.section_4_button_text, "/contact.html", class: "button-outline orange"  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="wrapper-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-12">
        <div class="simple-card-header simple-card-header-spacing">
          <h2>
            Ga mee op één van deze reizen
          </h2>
        </div>
      </div>
      <% dato.trips.first(3).each do |trip| %>
      <div class="col-xs-12 col-lg-4">
        <div class="simple-card no-p-space">
          <div class="simple-card-image" style="background-image:url('<%= trip.photos.first.url %>');"></div>
          <h3>
            <%= trip.title %>
          </h3>
          <%= Kramdown::Document.new(truncate(trip.description, length: 100)).to_html %>
          <%= link_to "Vertel me meer!", "/reizen/#{trip.slug}.html", class: "button-simple"  %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>


