<% current_page.data["title"] = "ConnectingJourneys - #{trip.title}" %>

<div class="main-wrapper">
  <!-- <div class="background-half-white"></div> -->
  <div class="banner-nav" style="background-image:url('<%= trip.banner_photo.url %>');">
    <div class="banner-content text-center">
      <h2 class="h1-style">
        <%= trip.title %>
      </h2>
      <p class="tagline">
        <%= trip.tagline %>
      </p>
      <%= link_to 'Contact', "/contact.html", class: "button-inverse orange" %>
    </div>
  </div>

  <div class="wrapper-white">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="inspiration-text text-center purple">
            <%= Kramdown::Document.new(trip.main_text).to_html %>
          </div>
          <% if trip.youtube_link != "" %>
          <iframe class="video-iframe" width="560" height="315" src="https://www.youtube.com/embed/<%= trip.youtube_link %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <% end %>
          <% if trip.vimeo_link != "" %>
          <iframe class="video-iframe" src="https://player.vimeo.com/video/<%= trip.vimeo_link %>" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <% end %>
        </div>     
      </div>
    </div>
  </div>
  <div class="wrapper-light-gray">
    <div class="container">
      <!-- Set up your HTML -->
      <div class="owl-carousel owl-carousel-article owl-theme" id="trip-photo">
        <% trip.photos.each do |photo| %>
        <div class="carousel-image text-center">
          <a href="<%= photo.url %>" class="swipebox">
            <div class="carousel-image-item" style="background-image:url('<%= photo.url %>');"></div>
          </a>
        </div>
        <% end %>
      </div>
      <div class="owl-custom-nav">
        <div class="owl-previous-custom owl-nav-chevron" data-target="trip-photo"><i class="fas fa-chevron-left"></i></div>
        <div class="owl-next-custom owl-nav-chevron" data-target="trip-photo"><i class="fas fa-chevron-right"></i></div>
      </div>
    </div>
  </div>
  <div class="wrapper-white">

    <div class="container marged">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-6">
          <div class="journey-description">
            <h2 class="purple">
              Over deze reis
            </h2>
            <p>
              <%= Kramdown::Document.new(trip.description).to_html %>
            </p>

            <div class="charity">
              <%= Kramdown::Document.new(trip.charity_description).to_html %>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6">
          <div class="journey-data-container">
            <h2 class="purple">
              Wanneer
            </h2>
            <ul class="data-list list-unstyled">
             <li>
              <span class="identifier"><i class="fas fa-calendar-alt"></i>Data:</span> 
              <div class="content">
                <%= Kramdown::Document.new(trip.data).to_html %>
              </div>
            </li>
            <li>
              <span class="identifier"><i class="fas fa-clock"></i>Duur:</span> 
              <div class="content">
                <%= Kramdown::Document.new(trip.duration).to_html %>
              </div>
            </li>
          </ul>
          <h2 class="purple">
            Locatie
          </h2>
          <ul class="data-list list-unstyled">
            <li>
              <span class="identifier"><i class="fas fa-map-marker"></i>Waar:</span> 
              <div class="content">
                <%= Kramdown::Document.new(trip.where).to_html %>
              </div>
            </li>
            <% if trip.amount_of_kilometers != "" %>
            <li>
              <span class="identifier"><i class="fas fa-compass"></i>Aantal km:</span> 
              <div class="content">
                <%= trip.amount_of_kilometers %>
              </div>
            </li>
            <% end %>
          </ul>
          <h2 class="purple">
            Deelnemen
          </h2>
          <ul class="data-list list-unstyled">
            <li>
              <span class="identifier"><i class="fas fa-user"></i>Voor wie:</span> 
              <div class="content">
                <%= Kramdown::Document.new(trip.for_who).to_html %>
              </div>
            </li>
            <li>
              <span class="identifier"><i class="fas fa-users"></i>Deelnemers:</span> 
              <div class="content">
                <%= Kramdown::Document.new(trip.participants).to_html %>
              </div>
            </li>
            <li>
              <span class="identifier"><i class="fas fa-calendar-check"></i>Inschrijving:</span> 
              <div class="content">
                <%= Kramdown::Document.new(trip.registration).to_html %>
              </div>
            </li>
          </ul>
          <% if trip.what != nil && trip.what != "" %>
          <h2 class="purple">
            Details
          </h2>
          <ul class="data-embedded-list">
            <li class="first-level">
              <span class="identifier"><i class="fas fa-globe"></i>Wat:</span>
              <div class="content">
                <%= Kramdown::Document.new(trip.what).to_html %>
              </div>
            </li>
          </ul>
          <% end %>
          <% if trip.logos.any? %>
          <ul class="data-list list-unstyled">
            <li>
              <span class="identifier">Partners:</span> 
              <div class="logo-container">
                <% trip.logos.each do |logo| %>
                <img src="<%= logo.url %>" alt="">
                <% end %>
              </div>
            </li>
          </ul>
          <% end %>
          <% if trip.trainers.any? %>
          <ul class="data-list list-unstyled">
            <li>
              <span class="identifier"><i class="fas fa-user-circle"></i></i>Trainers:</span> 
              <div class="trainers-container">
                <% trip.trainers.each_with_index do |trainer, index| %>

                <button type="button" class="trainer" data-toggle="modal" data-target="#trainer-<%= index %>">
                  <img src="<%= trainer.avatar.url %>" alt="">
                  <%= trainer.name %>
                </button>

                <div class="modal fade" id="trainer-<%= index %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><%= trainer.name %></h4>
                      </div>
                      <div class="modal-body trainer-modal">
                        <img src="<%= trainer.avatar.url %>" alt="">
                        <div class="trainer-modal-content">
                          <%= Kramdown::Document.new(trainer.bio).to_html %>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <% end %>
              </div>
            </li>
          </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% testimonials = dato.testimonials.select { |testimonial| testimonial.trip == trip } %>

<% if testimonials.length > 0 %>

<div class="wrapper-light-gray">
  <p class="text-center purple small-header">
    Testimonials <br>
    <i class="fas fa-quote-left"></i>
  </p>
  <!-- Set up your HTML -->
  <div class="owl-carousel owl-theme" id="testimonial">
    <% testimonials.each do |testimonial| %>
    <div class="carousel-image text-center">
      <%= Kramdown::Document.new(testimonial.quote_text).to_html %>
      <div class="author purple">
        <%= Kramdown::Document.new(testimonial.full_name_and_company).to_html %>
      </div>
      <div class="avatar" style="background-image:url('<%= testimonial.avatar.url %>');"></div>
    </div>
    <% end %>
  </div>
  <div class="owl-custom-nav">
    <div class="owl-previous-custom owl-nav-chevron" data-target="testimonial"><i class="fas fa-chevron-left"></i></div>
    <div class="owl-next-custom owl-nav-chevron" data-target="testimonial"><i class="fas fa-chevron-right"></i></div>
  </div>
</div>

<% end %>

<div class="wrapper-background-image" style="background-image:url('<%= image_path 'yoga.jpg' %>');">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-10 col-lg-offset-1">
        <div class="cta-box">
          <h2>
            Interesse in deze reis?
          </h2>
          <%= link_to "Neem nu contact op", "/contact.html", class: "button-outline white"  %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<% content_for :after_js do %>
<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    console.log("DOM fully loaded and parsed");
    activateCarouselArticle("trip-photo", 3);
    if(document.querySelector('#testimonial')) {
      activateCarouselArticle("testimonial", 1);
    }

    $('.swipebox').swipebox();
  });
</script>
<% end %>
