<div class="main-wrapper">
  <div class="background-half-white"></div>
  <div class="banner-nav" style="background-image:url('<%= trip.banner_photo.url %>');">
    <div class="banner-content text-center">
      <h2 class="h1-style">
        <%= trip.title %>
      </h2>
      <p class="tagline">
        <%= trip.tagline %>
      </p>
    </div>
  </div>


  <div class="container marged">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-6">
        <div class="journey-description">
          <!-- Set up your HTML -->
          <div class="owl-carousel owl-theme">
            <% trip.photos.each do |photo| %>
            <div class="carousel-image text-center">

              <a href="<%= photo.url %>" class="swipebox">
                <div class="carousel-image-item" style="background-image:url('<%= photo.url %>');"></div>
              </a>

            </div>
            <% end %>
          </div>
          <div class="owl-custom-nav">
            <div class="owl-previous-custom owl-nav-chevron"><i class="fas fa-chevron-left"></i></div>
            <div class="owl-next-custom owl-nav-chevron"><i class="fas fa-chevron-right"></i></div>
          </div>
          <h2>
            Over deze reis
          </h2>
          <p>
            <%= Kramdown::Document.new(trip.description).to_html %>
          </p>

          <div class="charity">
            <%= Kramdown::Document.new(trip.charity_description).to_html %>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6">
          <div class="journey-data-container">
            <h2>
              Wanneer
            </h2>
            <ul class="data-list list-unstyled">
             <li>
              <span class="identifier"><i class="fas fa-calendar-alt"></i>Data:</span> <%= trip.data %>
            </li>
            <li>
              <span class="identifier"><i class="fas fa-clock"></i>Duur:</span> <%= trip.duration %>
            </li>
          </ul>
          <h2>
            Locatie
          </h2>
          <ul class="data-list list-unstyled">
            <li>
              <span class="identifier"><i class="fas fa-map-marker"></i>Waar:</span> <%= trip.where %>
            </li>
            <li>
              <span class="identifier"><i class="fas fa-compass"></i>Aantal km:</span> <%= trip.amount_of_kilometers %>
            </li>
          </ul>
          <h2>
            Deelnemen
          </h2>
          <ul class="data-list list-unstyled">
            <li>
              <span class="identifier"><i class="fas fa-user"></i>Voor wie:</span> <%= trip.for_who %>
            </li>
            <li>
              <span class="identifier"><i class="fas fa-users"></i>Deelnemers:</span> <%= trip.participants %>
            </li>
            <li>
              <span class="identifier"><i class="fas fa-calendar-check"></i>Inschrijving:</span> <%= trip.registration %>
            </li>
          </ul>
          <h2>
            Details
          </h2>
          <ul class="data-embedded-list">
            <li class="first-level">
              <span class="identifier"><i class="fas fa-globe"></i>Wat:</span>
              <%= Kramdown::Document.new(trip.what).to_html %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper-background-image" style="background-image:url('<%= image_path 'yoga.jpg' %>');">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
          <div class="cta-box">
            <h2>
              Interesse in deze reis?
            </h2>
            <%= link_to "Neem nu contact op", "#", class: "button-outline white"  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<% content_for :after_js do %>
<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    console.log("DOM fully loaded and parsed");
    activateCarousel();
    $('.swipebox').swipebox();
  });
</script>
<% end %>
